body{
  padding: 15px 30px;
  color: #292929;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Merriweather', serif; */
}

.content{
  margin: 20px 30px;
}

a {
  color: rgb(155, 111, 111);
}

ul {
  list-style-type: circle;
}

/* -------------- Forms ---------------- */

.form-control{
  margin: 0 0 20px 10px;
}

/* ------------ Splash Page ------------- */

.splash h1 {
  font-family: 'Allan', cursive;
  font-size: 130px;
  padding: 50px 0;
  text-align: center;
  padding-bottom: 0px;
  color: #292929;
}

.splash h2 {
  color: #292929;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  text-align: center;
}

.splash ul {
  text-align: left;
  list-style-position: inside;
  font-size: 25px;
  padding: 0;
}

.row {
  justify-content: center;
  text-align: center;
}

/* ----------- Details Pages ------------- */

.details ul li ul {
  padding: 0 10px;
}

.details label {
  font-weight: bold;
}

.inline{
  display: inline-block;
  margin: 10px 15px 0 0;
  font-size: 20px;
}

form {
  display: inline;
}

form input {
  display: inline-block;
}

/* ----------- Buttons & Inputs ------------- */

button a {
  color: whitesmoke;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
  font-size: 20px;
}

input {
  color: whitesmoke;
  font-family: 'Bebas Neue', cursive;
}

button {
  margin: 15px 0;
  background-color: #292929 !important;
}

/* ----------- Home Index ------------- */

#homeIndex {
  text-align: center;
  margin: 100px;
}
#homeIndex h1 {
  font-family: 'Allan', cursive;
  font-size: 200px;
  padding: 0;
  margin-bottom: 20px;;
  color: #292929;
}

#homeIndex h2 {
  font-family: 'Bebas Neue', cursive;
  color: #292929;
  font-size: 40px;
  margin-top: 0;
}

/* ----------- NavBar ------------- */

.nav-item a {
  color: #292929;
}