@{
  Layout = "_Layout";
}

<h2>Account Authentication</h2> 

<hr />
@if (User.Identity.IsAuthenticated)
{
  <h3>Hello @User.Identity.Name!</h3>
  <button class="btn btn-dark">@Html.ActionLink("View All Treats and Flavors!", "Index", "Home")</button>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-default btn-dark" value="Log out" />
  }
}
else
{
  <p>Thank you for creating an account! Please log in to continue.</p>
  <button class="btn btn-dark">@Html.ActionLink("Log in", "Login")</button>
}