@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<div class="content">
  <h2>Edit Flavor: @Html.DisplayFor(model => model.Name)</h2>

  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.FlavorId)

      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name, new { @class="form-control", required="required" })

      <input class="btn btn-dark" type="submit" value="Save" />
  }
</div>